{% extends '_base.html' %}
{% load static %}

{% block title %}
    Title
{% endblock title %}


{% block content %}
    <h1>Homepage</h1>
    <img src="{% static 'images/django.jpg' %}" alt="">
    {% if user.is_authenticated %}
        <p>hi {{user.email}}</p>  
        <p> <a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p> you are not logged in</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
  
        
{% endblock content %}
    